.Box {
  outline-color: grey;
  outline-style: solid;
  margin: 10px 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.AddProject {
  background-image: url('../../assests/images/addProject.svg');
  background-repeat: no-repeat;
  background-position-y: 50%;
}

.AddProject:hover {
  opacity: 0.3;
  cursor: pointer;
}

@media (min-width: 300px) {
  .Box {
    margin-bottom: 5px;
    width: 280px;
  }
}

@media (min-width: 500px) {
  .Box {
    margin-bottom: 5px;
    width:400px;
  }
}

@media (min-width: 768px) {
  .Box {
    width: 550px;
    margin-bottom: 5px;
  }
}

@media (min-width: 900px) {
  .Box {
    width: 550px;
    margin: 10px 20px;
  }
}

.Box div {
  display: flex;
  flex-direction: column;
}

.Box div img {
  opacity: 1;
}

.Box div img:hover {
  opacity: 0.3;
  cursor: pointer;
}

@media (min-width: 767px) {
  .Box div img {
    width: 550px;
    height: 550px;
  }
}

@media (max-width: 767px) {
  .Box div img {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 500px) {
  .Box div img {
    width: 280px;
    height: 280px;
  }
}

/* @media (max-width: 550px) {
  .Box div img {
    width: 400px;
    height: 400px;
  }
} */

.Box div.Content {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.Box div.Content p{
  min-height: 200px;
  font-size: 18px
}

.Box div button.ViewProject {
  width: 100%;
  height: 60px;
  background-color: rgb(247, 103, 36);
  transition: background-color 0.2s ease;
  border-radius: 5px;
  box-shadow: 3px 3px 10px darkgrey;
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.Box div button.ViewProject:hover {
  background-color: rgb(163, 62, 15);
  cursor: pointer;
}

