.inputItem{
    display: flex;
    flex-direction: column;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.image{
    max-width: 200px;
    max-height: 200px;
}