$margin-rate: 10%;
.line {
  border: 2px solid black;
  width: 80%;
  margin-right: $margin-rate;
  margin-left: $margin-rate;
}

.projectOwnerDetail {
  margin-right: $margin-rate;
  margin-left: $margin-rate;
  .heading {
    font-size: 35px;
  }
  .description {
    font-size: 21px;
  }
}
