.Content{
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.Background {
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.Title{
    margin: auto auto;
    font-size: 50px;
    padding-bottom: 30px;
}

.AllProjects {
    height: 100%;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  
  @media (max-width: 1450px) {
    .AllProjects {
      height: 95.5%;
    }
  }
  
  @media (max-width: 1345px) {
    .Wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
  @media (min-width: 1345px) {
    .Wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  .modalStyle{
    height: 100%;
    width: 100%;
}