.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow-y: scroll;
  padding-top: 800px;
}

.Content .TitleImgs {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding-bottom: 20px;
}

.Content h1, input[name="title"] {
  font-size: 50px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"], h1 {
  text-align: center;
}

input[type="file"] {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  height: 200px;
}


.Content textarea {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 100px;
  font-size: 26px;
  font-family: sans-serif;
  resize: none;
}

@media(max-width: 1250px) {
  .Content textarea {
    width: 800px;
    font-size: 24px;
  }
}

@media(max-width: 1000px) {
  .Content textarea {
    width: 680px;
    font-size: 24px;
  }
}

@media(max-width: 700px) {
  .Content textarea {
    width: 500px;
    font-size: 18px;
  }
}

@media(max-width: 500px) {
  .Content textarea {
    width: 300px;
    font-size: 14px;
  }

  .Content input[name="title"], h1 {
    font-size: 40px;
  }
}

@media(max-width: 300px) {
  .Content textarea {
    width: 200px;
    font-size: 14px;
  }

  .Content input[name="title"], h1 {
    font-size: 35px;
  }
}

.Content button {
  width: 70%;
  height: 60px;
  background-color: rgb(247, 103, 36);
  transition: background-color 0.2s ease;
  border-radius: 5px;
  box-shadow: 3px 3px 10px darkgrey;
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.Content button:hover {
  background-color: rgb(163, 62, 15);
  cursor: pointer;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}


.Content .imgEnlarge {
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 2px solid black;
}

@media(max-width: 900px) {
  .Content .imgEnlarge {
    width: 500px;
    height: 500px;
  }
}

@media(max-width: 700px) {
  .Content .imgEnlarge {
    width: 450px;
    height: 450px;
  }
}

@media(max-width: 500px) {
  .Content .imgEnlarge {
    width: 340px;
    height: 340px;
  }
}

@media(max-width: 300px) {
  .Content .imgEnlarge {
    width: 200px;
    height: 200px;
  }
}

.Content .imgSelect {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
}

.Content .imgSelect .imgItem {
  border: 2px solid black;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  height: 200px;
}

@media(max-width: 500px) {
  .Content .imgSelect .imgItem {
    width: 50px;
    height: 50px; 
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.Content .imgSelect .imgEnlarge:hover .imgItem:hover {
  border: 2px solid rgb(247, 103, 36);
}

span {
  display: inline-block;
  text-align: center;
}

.imgUpload .uploadItem {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
}

.imgUpload .uploadItem {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  height: 200px;
}